@model IEnumerable<Memberships.Areas.Admin.Models.ProductModel>
@using Memberships.Areas.Admin.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.Partial("_CreateButtonPartial")
</p>
<table class="table table-condensed table-striped">
    <tr class="success">
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.ProductLinkTexts)</th>
        <th>@Html.DisplayNameFor(model => model.ProductTypes)</th>
        <th></th>
    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => product.Title)</td>
            <td>@Html.DisplayFor(modelItem => product.Description)</td>
            <td>
                @Html.DisplayFor(modelItem => product.ProductLinkText)
                (@{@Html.DisplayFor(modelItem => product.ProductLinkTextID)})
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.ProductType)
                (@{@Html.DisplayFor(modelItem => product.ProductTypeID)})
            </td>
            <td>
                @Html.Partial("_TableButtonsPartial",
                new SmallButtonModel
                { ID = product.ID })
            </td>
        </tr>
    }

</table>
