@model Memberships.Areas.Admin.Models.SubscriptionProductModel
@using Memberships.Extensions

@{
    ViewBag.Title = "Create";
}

<h2>Associate Products and Items</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Product & Subscription</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Products, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ProductID,
                Model.Products.ToSelectListItem(Model.ProductID),
                new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Subscriptions, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.SubscriptionID,
                Model.Subscriptions.ToSelectListItem(Model.SubscriptionID),
                new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SubscriptionID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
</div>
}



<div>
    @Html.Partial("_BackToListButtonPartial")
</div>

