@model Memberships.Areas.Admin.Models.SubscriptionProductModel
@using Memberships.Areas.Admin.Models
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product Subscription Pairings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(m => m.SubscriptionTitle)</dt>
        <dd>@Html.DisplayFor(m => m.SubscriptionTitle)</dd>
        <dt>@Html.DisplayNameFor(m => m.ProductTitle)</dt>
        <dd>@Html.DisplayFor(m => m.ProductTitle)</dd>
    </dl>
</div>
<p>

    This code builds the button url. See Admin/Models/SmallButtonModel.cs
    @Html.Partial("_EditButtonDetailPartial", new EditButtonModel
        {
            SubscriptionID = Model.SubscriptionID,
            ProductID = Model.ProductID
        }) |
    @Html.Partial("_BackToListButtonPartial")

</p>
