@model IEnumerable<Memberships.Areas.Admin.Models.SubscriptionProductModel>
@using Memberships.Extensions
@using Memberships.Areas.Admin.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Products and Subscriptions</h2>

<p>
    @Html.Partial("_CreateButtonPartial")
</p>
<table class="table table-condensed table-striped">
    <tr class="success">
        <th>@Html.DisplayNameFor(model => model.ProductTitle)</th>
        <th>@Html.DisplayNameFor(model => model.SubscriptionTitle)</th>
        <th>CRUD</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.ProductTitle)</td>
            <td> @Html.DisplayFor(modelItem => item.SubscriptionTitle) </td>

            @*This code builds the button url. See Admin/Models/SmallButtonModel.cs*@
            @Html.Partial("_TableButtonsPartial", new SmallButtonModel
            { 
                SubscriptionID=item.SubscriptionID, 
                ProductID = item.ProductID
            })

        </tr>
    }

</table>

